button,
.button {
  color: theme-color(light);
  font-family: $headline-font-family;
  font-size: 1.125rem;
  line-height: 1.1;
  letter-spacing: 0.03rem;
  padding: 1rem 1.5em;
  border: none;
  border-radius: $border-radius / 2;
  background-color: theme-color(tertiary);
  transition: 180ms all ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: theme-color(quaternary);
    @include boxShadow(0, 0, $unit * 2, $unit, scale-color(theme-color(dark), $lightness: -30%));
  }

  &--secondary {
    background-color: theme-color(secondary);

    &:hover,
    &:focus {
      @include boxShadow(0, 0, 0, 3px, scale-color(theme-color(secondary), $lightness: -40%));
    }
  }

  &--small {
    min-height: 34px;
    padding: 0.25em 0.75em;
    font-size: 1rem;
  }
}
