.container {
  padding: 0 1rem;

  @media screen and (min-width: 768px) {
    max-width: 800px;
  }

  @media screen and (min-width: 1024px) {
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1500px;
  }
}

.flex-row {
  @include flexContainer();
}

.flex-column {
  @include flexContainer(column);
}

.feed-container {
  padding-bottom: 6rem;
  @include gridContainer(1fr 1fr);

  @media screen and (min-width: 576px) {
    @include gridContainer(1fr 1fr 1fr);
  }

  @media screen and (min-width: 768px) {
   padding: 3rem;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1200px;
    padding: 0;
  }
}

.testimonials-container {
  max-width: 600px;
  @include flexContainer(column);
  
  @media screen and (min-width: 1024px) {
    max-width: none;
    @include flexContainer(row, space-evenly, flex-start);
  }
}

.contact-container {
  @include gridContainer(auto 1fr, repeat(4, auto));

  @media screen and (min-width: 576px) {
    
  }

  @media screen and (min-width: 1024px) {
    max-width: 500px;
  }
}

.img-container {
  position: relative;
  height: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  &--sm {
    max-width: 450px;
  }
  
  &.menu-img-1,
  &.about-us-img-1 {
    padding-bottom: 66.66%;
  }
  
  &.menu-img-2 {
    width: 50%;
    padding-bottom: 25%;
    transform: translate(12.5%, -75%);
  }

  &.about-us-img-2 {
    width: 50%;
    padding-bottom: 30%;
    transform: translate(12.5%, -125%);
  }
  
  &.feed-img {
    padding-bottom: 100%;
  }

  &.subscribe-img-1 {
    width: 33.33%;
    padding-bottom: 50%;
  }

  &.subscribe-img-2 {
    width: 33.33%;
    padding-bottom: 25%;
  }
}

.section {
  @media screen and (min-width: 768px) {
    padding-top: 3rem;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 6rem;
  }
}

.display-none {
  display: none;
}
