footer {
  padding: 1rem 0;

  img {
    margin: 1rem;
  }

  .copyright {
    margin-bottom: 0.5rem;
  }
  
  .fab {
    padding: 0.5rem;
    transition: color 0.2s ease-in-out, background-image 0.5s ease-in-out;
  }
}
