.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(40px);
  
  .nav-wrapper {
    width: 100%;
    max-width: 800px;
    padding: 0.5rem;
    @include flexContainer(row, space-between);
    transition: padding 0.25s ease-in-out;

    a .brand-name {
      z-index: -1;
    }
    
    .menu-btn {
      height: 2rem;
      width: 2rem;
      @include flexContainer();
      z-index: 2;
  
      .menu-lines {
        &, 
        &::before, 
        &::after {
          height: 0.25rem;
          width: 2rem;
          background-color: theme-color(light);
        }
  
        &::before, 
        &::after {
          content: "";
          display: block;
          position: absolute;
        }
  
        &::before {
          transform: translateY(-0.75rem);
        }
  
        &::after {
          transform: translateY(0.75rem);
        }
      }
  
      &.close {
        .menu-lines {
          transform: translateY(0.75rem);
  
          &::before {
            transform: translateY(-1rem) rotateZ(45deg);
          }
  
          &::after {
            transform: translateY(-1rem) rotateZ(-45deg);
          }
        }
      }
    }
  
    nav {
      min-height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: theme-color(dark);
      z-index: 0;
  
      a:hover {
        color: theme-color(quaternary);
        transition: color 0.25s ease-out;
      }
  
      .current {
        @include flexContainer();
  
        &::before, 
        &::after {
          content: "";
          display: block;
          border-top: 0.5rem solid transparent;
          border-bottom: 0.5rem solid transparent; 
          
        }
        
        &::before {
          margin-right: 1rem;
          border-left: 0.5rem solid theme-color(quaternary);
        }
  
        &::after {
          margin-left: 1rem;
          border-right: 0.5rem solid theme-color(quaternary);
        }
      }
    }
  }

  z-index: 1;

  @media screen and (min-width: 1024px) {
    @include flexContainer(row, space-between);

    .nav-wrapper {
      max-width: 1200px;
      padding: 1.5rem 1rem;
    
      .menu-btn {
        display: none;
      }

      nav {
        display: block;
        position: relative;
        min-height: auto;
        width: fit-content;
        background-color: transparent;
        
        ul {
          @include flexContainer();
          
          li {
            margin-bottom: 0;

            a {
              color: theme-color(light);
            }

            & + li {
              margin-left: 3vw;
            }

            &.current {
              &::before, 
              &::after {
                display: none;
              }
      
              & a {
                color: theme-color(quaternary);
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1920px) {
    .nav-wrapper {
      max-width: 1500px;
    }
  }
}
