#about {
  .about-us-img-1 {
    padding-bottom: 66.66%;
  }

  .about-us-img-2 {
    width: 50%;
    padding-bottom: 30%;
    transform: translate(12.5%, -125%);

    img {
      border: 5px solid theme-color(gray);
      border-radius: 50%;
      border-top: none;
      border-bottom: none;
    }
  }
}
