.hero {
  min-height: 100vh;
  @include flexContainer(column, space-between);
  @include backgroundImage("../../images/hero-pizzas-576w.jpg");
  @include mediaQueries("hero-pizzas");

  .hero-text {
    max-width: 400px;

    .lead {
      &.show-on-scroll {
        transform: translateY(-6rem);
        opacity: 0;
        transition: transform 0.75s ease-out, 
          opacity 0.75s ease-out;
        will-change: transform, opacity;
      }
      
      &.is-visible {
        opacity: 1; 
        transform: translateY(0);
      }
    }

    .sublead {
      &.show-on-scroll {
        transform: translateY(-6rem);
        opacity: 0;
        transition: transform 0.75s 0.5s ease-out, 
          opacity 0.75s 0.5s ease-out;
        will-change: transform, opacity;
      }
      
      &.is-visible {
        opacity: 1; 
        transform: translateY(0);
      }
    }

    button {
      margin-top: 2rem;
      
      &.show-on-scroll {
        opacity: 0;
        transition: opacity 0.75s 1.5s ease-out;
        will-change: opacity;
      }
      
      &.is-visible {
        opacity: 1; 
      }
    }

    .h4,
    .arrow-down {
      &.show-on-scroll {
        transform: translateY(-6rem);
        opacity: 0;
        transition: transform 0.75s 1s ease-out, 
          opacity 0.75s 1s ease-out;
        will-change: transform, opacity;
      }
      
      &.is-visible {
        opacity: 1; 
        transform: translateY(0);
      }
    }
  }

  .arrow-down {
    font-size: 3rem;
    width: fit-content;
    cursor: pointer;
    @include animation(bounce, 2s, 0s, infinite);
  }

  @media screen  and (min-height: 768px) {
    padding-top: 10vh;
  }
  
  @media screen  and (min-height: 1024px) {
    padding-top: 15vh
  }

  @media screen  and (min-height: 1440px) {
    padding-top: 20vh
  }

  @media screen  and (min-height: 1920px) {
    padding-top: 25vh
  }
}
