.hero {
  min-height: 100vh;
  @include flexContainer(column, space-between);
  @include backgroundImage("../../images/hero-pizzas-576w.jpg");
  @include mediaQueries("hero-pizzas");

  .hero-text {
    max-width: 400px;

    button {
      margin-top: 2rem;
    }
  }

  .arrow-down {
    font-size: 3rem;
    width: fit-content;
    cursor: pointer;
    @include animation(bounce, 2s, 0s, infinite);
  }

  @media screen  and (min-height: 768px) {
    padding-top: 10vh;
  }
  
  @media screen  and (min-height: 1024px) {
    padding-top: 15vh
  }

  @media screen  and (min-height: 1440px) {
    padding-top: 20vh
  }

  @media screen  and (min-height: 1920px) {
    padding-top: 25vh
  }
}
