.hero {
  min-height: 100vh;
  @include flexContainer(column, space-between);
  @include backgroundImage("../../images/hero-pizzas-576w.jpg");
  @include mediaQueries("hero-pizzas");

  .hero-text {
    max-width: 400px;
  }

  .arrow-down {
    font-size: 3rem;
    width: fit-content;
    cursor: pointer;
    @include animation(bounce, 2s, 0s, infinite);
  }
}
