#menu {
  .menu-img-1 {
    padding-bottom: 66.66%;
  }
  
  .menu-img-2 {
    width: 50%;
    padding-bottom: 25%;
    transform: translate(12.5%, -75%);
  }

  .menu {
    max-width: 600px;
    
    .pizza {
      padding-top: 1rem;

      .pizza-name-price {
        @include flexContainer(row, space-between, flex-start);
      }
    }
  }
}
