$alignments: left, right, center !default;
$breakpoints: 576, 768, 1024, 1440, 1920, 2560;

@each $alignment in $alignments {
  .text-align--#{$alignment} {
    text-align: #{$alignment};
  }
}

@mixin flexContainer($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin gridContainer($cols: 1fr, $rows: 1fr, $row-gap:0, $col-gap: 0) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  gap: $row-gap $col-gap;
}

@mixin quadrangle($width, $height, $bg-color, $x, $y) {
  height: $height;
  width: $width;
  position: absolute;
  background-color: $bg-color;
  transform: translate($x, $y);
  z-index: -2;
}

@mixin backgroundImage($url, $x-position: center) {
  background-image: url($url);
  background-position-x: $x-position;
  background-size: cover;
}

@mixin mediaQueries($image) {
  @each $breakpoint in $breakpoints {
    @media screen and (min-width: #{$breakpoint}px) {
      background-image: url("../../images/#{$image}-#{$breakpoint}w.jpg");
    }
  }
}

@mixin textStroke($width, $color) {
  -webkit-text-stroke-width: $width;
  -webkit-text-stroke-color: $color;
}

@mixin boxShadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin textShadow($x, $y, $blur, $color) {
  text-shadow: $x $y $blur $color, $x -#{$y} $blur $color,
    -#{$x} $y $blur $color, -#{$x} -#{$y} $blur $color;
}

@mixin animation(
  $name,
  $duration,
  $delay: 0s,
  $iteration-count: 1,
  $timing-function: ease-in-out
) {
  animation: $name $duration $timing-function $iteration-count $delay;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

@each $key, $unit in $spacing {
  .mx-#{$key} {
    margin-left: $unit;
    margin-right: $unit;
  }

  .my-#{$key} {
    margin-top: $unit;
    margin-bottom: $unit;
  }

  .mt-#{$key} {
    margin-top: $unit;
  }

  .mb-#{$key} {
    margin-bottom: $unit;
  }

  .px-#{$key} {
    padding-left: $unit;
    padding-right: $unit;
  }

  .py-#{$key} {
    padding-top: $unit;
    padding-bottom: $unit;
  }

  .pt-#{$key} {
    padding-top: $unit;
  }

  .pb-#{$key} {
    padding-bottom: $unit;
  }
}

.mb-none {
  margin-bottom: 0;
}
